/*Global setting*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
}

/*Nav bar section*/
/*setting all in nav bar*/
.left-side-column {
    width: 4rem;
    height: 100%;
}

.left-side-column header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(0,0,0);
}
/*set top side*/
header .top-bar {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*set nav image button*/
/*top bar*/
.top-bar a {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    transition: background-color 0.5s;
}
.top-bar img {
    width: 50%;
    height: auto;
}
/*Effect for top nav button*/
.top-bar a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-bar a:focus {
    background-color: rgba(255, 255, 255, 0.5);
}
/*bottom bar*/
.bottom-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
    /*border: solid 2px red;*/
}

.bottom-bar a {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: solid 2px red;*/
}

.bottom-bar img {
    width: 100%;
}

.bottom-bar .country-selection {
    width: 50%;
    height: 80%;
    margin-right: 0.3rem;
    /*border: solid 2px red;*/
}

.bottom-bar .country-selection input {
    width: 90%;
    max-height: 0.5rem;
    color: white;
    background-color: black;
    font-size: 0.7rem;
    /*border: solid 2px red;*/
}
