/*Global setting*/
@font-face {
    font-family: "Bangers";
    src: url("resources/Bangers-Regular.ttf") format("truetype"),
    url("resources/Bangers-Regular.woff") format("woff"),
    url("resources/Bangers-Regular.woff2") format("woff2");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    min-width: 100vw;
    height: 200rem;
    display: block;
    overflow-x: hidden;
}

/*Nav bar section*/
/*setting all in nav bar*/
.left-side-column {
    width: 4rem;
    max-width: 8%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 20;
}

.left-side-column header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: rgb(0,0,0);
}
/*set top side*/
header .top-bar {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*set nav image button*/
/*top bar*/
.top-bar a {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s;
}
.top-bar img {
    width: 50%;
    height: 50%;
}
/*Effect for top nav button*/
.top-bar a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-bar a:focus {
    background-color: rgba(255, 255, 255, 0.5);
}
/*bottom bar*/
.bottom-bar {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-bar a {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-bar img {
    width: 100%;
}

.bottom-bar .country-selection {
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-bar .country-selection input {
    width: 90%;
    height: 50%;
    color: white;
    background-color: black;
}

/*Main Content part Setting*/
.right-side-column {
    min-width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    font-family: "Bangers", sans-serif;
}

main {
    width: 100%;
    height: 180rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*join buttn set*/
.join-button {
    width: 100%;
    max-width: 3840px; /* Limit the maximum width */
    height: 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(232, 226, 216, 0.443);
    position: absolute;
    z-index: 10;
}

.join-button a {
    width: 5%;
    max-width: 70px;
    height: 100%;
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(45, 149, 235, 0.518);
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.5s, color 0.5s;
}
/*join button effect*/
.join-button a:hover, .join-button a:focus {
    background-color: rgb(0, 157, 255);
    color: white;
}
/*content section setting*/
.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
/*web name background video setting*/
.web-name-part {
    width: 100%;
    height: 30%;
    max-height: 40rem; /* Limit the maximum height */
    position: relative; 
    top: 0;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.web-name-part video {
    width: 100%;
    max-width: 3840px; /* Limit the maximum width */
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: -1; /* Ensure the video is behind other content */
}

.web-name-text {
    width: 100%;
    height: 100%;
    text-align: center;
}

.web-name-text h1 {  
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    letter-spacing: 0.4rem;
    color: white;
    -webkit-text-stroke: 0.1rem black;  /*Add a black outline to the text */
    text-shadow: rgb(0, 0, 0) 0.2rem 0.2rem 0.1rem; 
    z-index: 5; /* Ensure text is above the video */
}
/*intro part setting*/
.intro-part {
    width: 100%;
    height: 15%;  
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);;
}

.intro-part .left-text {
    margin: 0.5rem 3rem 0.5rem 4rem;
}

.intro-part .left-text p {
    font-size: 2rem;
    letter-spacing: 0.1rem;
    line-height: 1.5;
}

.intro-part .right-text h2 {
    font-size: 4rem;
    letter-spacing: 0.4rem;
}
/*promote part setting*/
.promote-photo {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
}

.promote-photo h3 {
    width: 15rem;
    height: 7rem;
    margin-left: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    color: white;
}

.promote-photo img {
    width: 25rem;
    height: 20rem;
    margin-left: 4.5rem;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem 0.3rem rgba(255, 255, 255, 0.5);
    object-fit: fill;
}

/*benefit photo part setting*/
.benefit-photo {
    margin-top: 1rem;
    padding-left: 3rem;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
}

.benefit-photo .photo {
    width: 20rem;
    height: 18rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: scale 0.5s;
    margin: 1rem;
}

.benefit-photo .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;;
    position: absolute;
    top: 0;
    z-index: 1; /* Ensure the image is behind the text */
}

.benefit-photo .photo h3 {
    position: relative;
    z-index: 5; /* Ensure the text is above the image */
    color: rgb(255, 255, 255);
    text-shadow: black 0.1rem 0.1rem 0.2rem;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    text-align: center;
    padding: 1rem;
    /*transition: text-shadow 0.3s;*/
}

.benefit-photo .photo:hover, .benefit-photo .photo:focus {
    scale: 1.1;
    z-index: 10; /* Bring the hovered photo to the front */
}
/*invite part*/
.invite-part {
    width: 100%;
    min-height: 9vh;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.15rem;
    background-color: rgb(255, 255, 255);
}
/*footer setting*/
footer {
    width: 100%;
    min-height: 20rem;
    background-color: rgb(54, 54, 54);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.1rem;
}

footer .web-info {
    width: 80%;
    max-width: 1500px; /* Limit the maximum width */
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Web page social media part*/
.web-info .social-media {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.web-info .social-media h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: rgb(201, 201, 201);
}

.web-info .social-media figure {
    width: 50%;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.web-info .social-media img {
    width: 1.5rem;
    height: 1.5rem;
    transition: scale 0.3s;
}

.web-info .social-media img:hover, .web-info .social-media img:focus {
    scale: 1.2;
}
/*Web additional data part*/
.web-info .additional-data {
    width: 50%;
    height: 100%;
    padding: 2% 0 2% 0;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.web-info .additional-data .text-box {
    display: flex;
    flex-direction: column;
}

.web-info .additional-data h4 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: rgb(201, 201, 201);
}

.web-info .additional-data a {
    text-decoration: none;
    margin: 0.5rem;
    color: rgb(120, 120, 120);
    transition: color 0.5s;
}
/*button effect*/
.web-info .additional-data a:hover, .web-info .additional-data a:focus {
    color: rgb(255, 255, 255);
}
/*copyright setting*/
.copyright {
    border-top: solid 0.1rem rgb(167, 167, 167);
    padding: 1rem;
    width: 70%;
    max-width: 1300px; /* Limit the maximum width */
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
}

/*mobile layout adjust*/
@media screen and (max-width: 430px) {
    /*Global setting*/
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    /*Nav bar setting*/
    .left-side-column {
        min-width: 100%;
        height: 4rem;
        position: fixed;  
        left: 0;
        top: auto;
        bottom: 0;
        z-index: 20;
    }

    .left-side-column header {
        min-width: 100%;
        height: 100%;
        background: rgb(0,0,0);
    }

    header .top-bar {
        min-width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    /*set nav image button*/
    .top-bar a {
        min-width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*decrease nav bar side*/
    .bottom-bar {
        display: none;
    }

    /*main and footer adjust*/
    .right-side-column {
        min-width: 100vw;
        min-height: 95vh;
        margin-bottom: 4rem; /* Add space for the fixed nav bar */
    }

    /*join button*/
    .join-button a {
        padding: 1rem;
        font-size: 0.8rem;
    }

    /*Web name*/
    .web-name-text h1 {  
        font-size: 3rem;
        letter-spacing: 0.4rem;
    }

    /*intro part*/
    .intro-part .left-text {
        margin: 0.5rem 3% 0.5rem 2rem;
    }
    .intro-part .left-text p {
        font-size: 1rem;
    }

    .intro-part .right-text {
        margin-left: 0.2rem;
    }

    .intro-part .right-text h2 {
        font-size: 2rem;
        letter-spacing: 0.4rem;
    }

    /*promote photo*/
    .promote-photo h3 {
        font-size: 1rem;
        letter-spacing: 0.2rem
    }

    .promote-photo img {
        margin: 0.5rem;
        width: 13rem;
        height: 10rem;
        border-radius: 1rem;
        box-shadow: 0.3rem 0.3rem 0.3rem rgba(255, 255, 255, 0.5);
        object-fit: fill;
    }

    /*benefit photo*/
    .benefit-photo .photo {
        width: 17rem;
        height: 13rem;
    }

    .benefit-photo .photo h3 {
        font-size: 1.2rem;
    }

    /*invite part*/
    .invite-part {
        font-size: 0.8rem;
    }

    /*footer social media*/
    .web-info .social-media h3 {
        font-size: 1rem;
        margin-bottom: 1rem;
        color: rgb(201, 201, 201);
    }

    .web-info .social-media figure {
        width: 50%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .web-info .social-media img {
        width: 0.6rem;
        height: 0.6rem;
        margin: 0 0.3rem;
    }

    /*footer additional data*/
    .web-info .additional-data {
        width: 50%;
        height: 100%;
        padding: 0.5rem 0 0.5rem 0;
        margin-top: 2%;
    }

    .web-info .additional-data h4 {
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
        color: rgb(201, 201, 201);
    }

    .web-info .additional-data a {
        line-height: 0.4rem;
        font-size: 0.5rem;
        text-decoration: none;
        margin: 0.5rem;
        color: rgb(120, 120, 120);
        transition: color 0.5s;
    }

    /*copyright part*/
    .copyright {
        padding: 0.4rem;
        font-size: 0.4rem;
    }
}